* {
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
}

* {
    color: {{foreground}};
    background-color: {{background}}; 
    padding: 0px 10px;
    margin: 0px 0px;
    border-radius: 0px;
}

#tags {
    color: {{background | lighten(0.8)}};
}

#tags.active {
    background: solid;
    background-color: {{foreground}} ;
    color: {{background}};
}
